[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==5.4.1"
daiquiri = "*"
pytest = "*"

[dev-packages]
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"
