[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
"ruamel.yaml" = "*"
pytest = "*"
daiquiri = "*"

[dev-packages]
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"
